.form-container {
  /* nav height */
  /* nav height minus margin */
  min-height: 89vh;
  margin: 2vh;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  position: relative;
}

.form-group {
  position: relative;
}

.form-container .Form {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  flex-basis: 80%;
  border: 1px solid green;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  /* height: 100%; */
}

.form-container #title {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 6px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-container .form-group label {
  font-size: 1.3rem;
  text-decoration: underline;
  margin-bottom: 6px;
  display: block;
}

.form-container .form-group {
  margin-bottom: 15px;
}

.form-container #content {
  font-size: 1.1rem;
  padding: 6px;
  /* min-height: 55vh; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  resize: vertical;
  /* position: absolute; */
  width: 100%;
  height: 56vh;
}

.form-container .submit-btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 1.1rem;
}

@media screen and (max-device-width: 1000px) {
  .form-container .Form {
    flex-basis: 100%;
  }
  .form-container {
    margin: 1vh;
  }
}

@media screen and (max-width: 600px) {
  .form-container .Form {
    flex-basis: 100%;
  }
  .form-container {
    margin: 1vh;
  }
}
